/* ==================
	heading
====================*/
.box {	
	margin :auto; 
	background: #333538;
	position: fixed;
	width: 100%;
}
.list{
	float: right;
	padding-right: 10px;
}
li {
	color: #white;
	float: left;
	height: 50px;
	display: inline;
	padding: 10px;
	padding-right: 30px;
	list-style: none;
}
hr{
	width: 960px;
	text-align: center;
}
ul{
		padding-right: 120px;
}
ul a {
	text-decoration: none;
	color: #7aaedf;
	font-size: 20;
}
li:hover, .selected{
	font-size: 40;
	text-decoration: underline;
	background: grey;
	}	

img {	
	width: 100px;
	height: 100px;
	
}	
.abc {
	margin: 0;
	border: 0;
	width: 100%;
}
.abc img{
	width: 1349px;
}
blockquote {
	text-align: center;
	height: 100px;
	padding: 100px;
	padding-left: 10px;
	padding-bottom: 50px;
	padding-top: 10px;
	border: 1px solid black;
}
blockquote h1{
	font-size: 40px;
	font-family: 'Shrikhand', cursive;
	letter-spacing: 5px;
	text-transform: uppercase;
	text-shadow: 5px 3px 3px #e3e3e3;

}
/*========================*/
.wrap{
	
	width: 80%;
	margin-left: 10%;
	background: #d9d6d6;
	overflow: hidden;
	padding-top: 150px;
}

body {
	background: #e3e3e3;
	font-family: sans-serif;
	margin: 0px;
}
.container_12{
	font-family: 'Rubik', sans-serif;
}
div {
	margin: auto;
	display: block;
}



.division {
	padding-top: 20px;
	overflow: hidden;
	text-align: justify;
	float: left;
	width: 31%;
}
.division right{
	padding-right: 0%;
}
.division img{
	width: 80%;
	height:150px;
}

.hero {
	width: 100%;
	margin: auto;	
	overflow: hidden;
	text-align: center;
}

.hero img{
	margin: auto;
	border: -100px;
	padding: -50px;
	width: 100%;
	height:auto;
}
/* ==================
	footer
====================*/
footer{
	text-align: center;
	clear: both;
	width: 100%;
}

.footer {
	text-align: center;
}
.fa-facebook-square:hover{
	color: #3b5998;    
}
.fa-twitter-square:hover{
	color: #1da1f2;
}
.fa-google-plus-square:hover{
	color: #c13c31;
}
footer a{
	color: black;
}
